* {
    font-family: sans-serif;
}

body {
    margin: 30px;
    background: #f5f5f5;
}

h1 {
    margin: 30px;
    margin-top: 60px;
    font-size: 60px;
    font-family: Lobster, cursive;
}

p {
    font-size: 22px;
}

h1, p, canvas {
    margin: 40px;
}

#cards canvas {
    transform: scale(1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 50%);
    border-radius: 22px;
    transition: all 0.2s ease-in-out;
}

#cards canvas:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 50%);
}

@media print {
    #cards canvas {
        box-shadow: 0 0 0 black;
        margin: 5px;
        border: 0.5px solid black;
    }
    p {
        display: none;
    }
}
