* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}

body {
    margin: 3rem;
    background: #f5f5f5;
    overflow-y: scroll;
}

h1, p, form {
    max-width: 60rem;
    margin: auto;
}

h1 {
    font-size: 3.5rem;
    font-family: Lobster, cursive;
}

p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #444;
    margin-bottom: 1.1rem;
}

input, select {
    height: 3rem;
    display: inline-block;
    margin-bottom: 1.1rem;
}

input[type=text] {
    font-size: 1rem;
}

select, input[type=text] {
    padding: 0 0.5rem;
}

input[type=submit] {
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: #484;
}

a:hover {
    color: #262;
}

code {
    font-family: monospace;
}

#subtitle {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    color: #666;
}

.soft {
    color: #999;
    margin-right: 1rem;
}

a.id {
    background: #484;
    color: white;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: visible;
    margin-top: 3rem;
}

#cards a {
    margin-bottom: 10mm;
}

.card {
    width: calc(63mm - 6.4mm);
    height: calc(88mm - 6.4mm);

    background-size: cover;
    background-position: center;

    border-radius: 2mm;
    box-shadow: 0 0 0 3mm white, 2px 2px 10px 3mm rgba(0, 0, 0, 50%);

    margin: 3mm;

    display: flex;
    position: relative;
    flex-direction: column;

    page-break-inside: avoid;

    transition: box-shadow 0.1s ease-in-out;
}

a:hover .card {
    box-shadow: 0 0 0 3mm white, 2px 2px 20px 3mm rgba(0, 0, 0, 30%);
}

#cards a {
    transform: scale(1) rotate(0deg);
    transition: transform 0.1s ease-in-out;
}

#cards a:hover {
    transform: scale(1.2) rotate(0deg);
}

#cards a:nth-child(2n):hover {
    transform: scale(1.2) rotate(-1deg);
}

#cards a:nth-child(3n):hover {
    transform: scale(1.2) rotate(2deg);
}

#cards a:nth-child(4n):hover {
    transform: scale(1.2) rotate(-3deg);
}

#cards a:nth-child(5n):hover {
    transform: scale(1.2) rotate(4deg);
}


#cards a:hover {
    z-index: 1;
}

.qnr {
    position: absolute;
    font-size: 30%;
    bottom: -2.85%;
    right: 3.5%;
}

.header, .prop {
    background-color: rgba(255,255,255,0.85);
}

.header {
    height: 20%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.prop {
    height: 8%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
    box-sizing: border-box;
    font-size: 70%;
    align-items: center;
    line-height: 1em;
}

.prop div:first-child {
    margin-right: 8%;
}
.prop div:nth-child(2) {
    text-align: right;
}

.space {
    base-height: 5%;
    flex-grow: 2;
}

.title, .description {
    text-align: center;
}

.description {
    font-size: 60%;
}

#cards a {
    text-decoration: none;
    color: black;
}

@media print {
    body {
        background: white;
        margin: 0;
    }

    #cards {
        display: block;
    }

    .card {
        margin: 4mm;
        display: inline-flex;
        box-shadow: 0 0 0 3mm white, 0 0 0 3.2mm black;
    }

    @page {
        margin: 10mm 7mm;
    }

    h1, p, form {
        display: none;
    }
}
